:root {
    --color-bg-body: hsl(210, 46%, 95%);
    --color-primary: hsl(217, 19%, 35%);
    --color-text: hsl(214, 17%, 51%);
    --color-icons: hsl(212, 23%, 69%);
    --color-blink: hsl(30, 61%, 45%);
}
